#body {
    margin:0;
    padding:0;
    color: #808080;
    font-size:12px;
    line-height:12px;
    font-family:'Adobe Gothic Std';
    background-color:#fff;
    background-position:center top;
    background-repeat:no-repeat;
}
#h2 {
text-align:center
}
a:hover {

}
#abrigo_general {
width:1250px;
margin:0 auto;
}
#content_login {
margin-top:150px;
overflow:hidden;
width:720px;
position:relative;
padding-bottom:10px;
}
#banner {
background: url("/Imagenes/Fondo5.jpeg");
width:1250px;
height:200px;
color:white;
border-radius:0px 0px  10px 10px;
box-shadow:0px 0px 10px #000 inset;
}
#contenido_izquierdo {
float:left;
width:250px;
height:400px;
overflow:scroll;
text-align:center;
margin-left:1px;
}
#contenido_derecho {
float:right;
width:999px;
height:400px;
overflow:scroll;
margin-left:0px;
}